.welcome-container {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
  padding: 5vh;
}

.welcome-box {
  width: 70vw;
  height: 70vh;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.welcome-text {
  padding: 5vw;
}

.welcome-name {
  font-size: 3rem;
  font-weight: bold;
}

.welcome-headshot {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: 0.01px solid rgb(199, 199, 199);
  object-fit: cover;
}

.welcome-tag {
  font-size: 1.5rem;
  font-weight: light;
}

@media screen and (max-width: 767px) {
  .welcome-box {
    width: 100vw;
  }
  .welcome-headshot {
    height: 20vh;
    width: 20vh;
  }
}
