.portfolio-item {
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 50%;
  height: 30%;
  margin: 3vh;
  transition: box-shadow 0.3s;
}

.portfolio-item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.portfolio-item a {
  color: inherit;
  text-decoration: none;
}

.portfolio-image-container {
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.portfolio-content {
  padding: 1em;
  height: 40%; /* the remaining space */
}
