.navbar {
  display: flex;
  flex-direction: row;
  background-color: rgb(131, 197, 247);
}

.navbar-logo {
  padding: 1vh;
}

.navbar-image-logo {
  width: 8vh;
  height: 8vh;
  padding: 1vh;
  border-radius: 50%;
}

.navbar-title {
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 1vw;
  font-size: 16px;
}
